body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  font-family: "Roboto Condensed", sans-serif;
}

body.dark-body {
  background-color: #2e323f;
  color: #ffffff;
}

.bg-dark {
  background-color: #363a46;
}

.badge-success {
  background: #0bd18a;
  box-shadow: #0bd18a4d 0px 6px 20px;
}

.badge-error {
  background: #fc6161;
  box-shadow: #fc61614c 0px 6px 20px;
}

.custom-timeline.p-timeline.p-timeline-vertical .p-timeline-event-opposite {
  flex: 0;
  padding: 0;
}