body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  font-family: "Roboto Condensed", sans-serif;
  background: #f9f9f9;
}

body.dark-body {
  background-color: #2e323f;
  color: #ffffff;
}

.bg-box-infos {
  background-color: #2a2d39;
}

.bg-box-infos-light {
  background-color: #f1f1f1;
}

.bg-dark {
  background-color: #363a46;
}

.badge-disponivel {
  background: #0bd18a;
  box-shadow: #0bd18a4d 0px 6px 20px;
}

.badge-acaminho {
  background: #dfcf43;
  box-shadow: #dfcf434d 0px 6px 20px;
}

.badge-passageiro {
  background: #00adff;
  box-shadow: #00adff4d 0px 6px 20px;
}

.badge-indisponivel {
  background: #b3b3b3;
  box-shadow: #b3b3b34d 0px 6px 20px;
}

.badge-error {
  background: #fc6161;
  box-shadow: #fc61614c 0px 6px 20px;
}

.badge-agendamento-atrasado {
  background: #e25252;
  box-shadow: #fb04044c 0px 6px 20px;
}

.badge-agendamento-20-min {
  background: #e043db;
  box-shadow: #fd0df54c 0px 6px 20px;
}

.badge-agendamento-40-min {
  background: #e9a659;
  box-shadow: #fb8a094c 0px 6px 20px;
}

.badge-agendamento-120-min {
  background: #6967f0;
  box-shadow: #6967f04c 0px 6px 20px;
}

.w-100 {
  width: 100%;
}

.container-itens-orcamento {
  max-height: 400px;
  overflow-y: auto;
  padding-top: 15px;
}

.p-autocomplete-input, .p-inputnumber-input {
  width: 100%;
}

.p-card {
  background: #394453;
  height: 100%;
}

.p-card .p-card-title {
  font-size: 1.23rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif;
}

.p-card-content {
  padding: 0px;
}

.custom-timeline.p-timeline.p-timeline-vertical .p-timeline-event-opposite {
  flex: 0;
  padding: 0;
}